<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="WeatherApiWork" value="http://apis.baidu.com/heweather/weather/free"/>
    <add key="apikey" value="d60ddfbdbf0b0632f0271bb73bb69199"/>
  </appSettings>
</configuration>
